body {
  background-image: url("/assets/img/site/image_4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: brightness(30%);
}
